body {
    background-image: url('https://raw.githubusercontent.com/lmhstart/lmhstart.github.io/main/1740829524742e9948036c991b5a42afd988e235617b0768c.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
